body {
    background-color: #f1faee;
    font-family: 'Lexend', sans-serif;
}

.main_header {
    width: 100%;
    background-color: #457b9d;
}

.main_header .main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo {
    flex-basis: 330px;
    padding: 15px;
    width: 290px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}


/*MAIN_HEADER_CONTENT_MENU*/


.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-content: center;
}

.main_header_content_menu ul li a {
    padding: 0 23px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #f1faee;
    margin-right: 20px;
}

.main_header_content_menu ul li a:hover {
    color: #f1faee;
    background-color: #e63946;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
}


/* MOBILE */


.main_header_content_menu_mobile {
    flex-basis: calc(100% - 330px);
    display: none;
    justify-content: flex-end;
}

.main_header_content_menu_mobile ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main_header_content_menu_mobile ul li {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.main_header_content_menu_mobile_obj {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #e63946;
    border-radius: 3px;
}



.main_header_content_menu_mobile_sub {
    min-width: 200px;
    background-color: #f1faee;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    right: -20px;
}

.main_header_content_menu_mobile_sub>li {
    flex-basis: 100%;
}

.main_header_content_menu_mobile_sub>li a {
    width: 100%;
    text-align: center;
    color: #e63946;
    padding: 10px 0;
}

.main_header_content_menu_mobile_sub>li a:hover {
    background-color: #e63946;
}


/*MAIN_CTA*/


.main_cta {
    width: 100%;
    background-image: url('../img/2514571.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta .main_cta_content {
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta .main_cta_content h1 {
    font-size: 4em;
    color: #f1faee;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p {
    font-size: 1.875em;
    color: #f1faee;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_cta .main_cta_content .btn {
    background-color: #a8dadc;
    color: #457b9d;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 10px;
}

.main_cta .main_cta_content .main_cta_content_spacer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 160px 40px;
}


/*MAIN_BLOG*/

.main_blog {
    max-width: 1300px;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.main_blog .main_blog_texto {
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog .main_blog_texto h1 {
    color: #1d3557;
    margin-bottom: 60px;
    font-size: 2em;
}

.main_blog .main_blog_texto p {
    font-size: 1em;
}

.main_blog article {
    margin-bottom: 30px;
    text-align: center;

}

.main_blog article img {
    width: 70%;
    text-align: center;
    margin-top: 20px;
    border: solid;
    border-radius: 10px;

}

.main_blog article p {
    margin: 10px 0;
    text-align: center;
}

.main_blog .carros tax {
    max-width: 100%;
    height: 5%;
}

/* TUTORRRRRRRRRRRRRRRRR */


.main_tutor {
    width: 100%;
    background-color: #457b9d;
}

.main_tutor_content {
    max-width: calc(1300% - 80px);
    padding: 40px;
    margin: 0 auto;
    color: #f1faee;
    text-align: center;
}

.main_tutor_content>header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.main_tutor_content_img {
    margin: 20px auto;
}

.main_tutor_content_img img {
    max-width: 300px;
    border-radius: 50%;
    padding: 3px;
    background-color: #a8dadc;
}

.main_tutor_content_history h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_tutor_content_history p {
    margin-bottom: 20px;
    padding: 0 20px;
}

.main_tutor_social_network {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1d3557;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_tutor_social_network>header {
    flex-basis: 100%;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_tutor_social_network>article {
    flex-basis: 24%;
}

.main_tutor_social_network>article h3 {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.main_tutor_social_network>article h3 a {
    background-color: #a8dadc;
    color: #e63946;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 20px;
}

.main_tutor_social_network>article h3 a:hover {
    background-color: #e63946;
    color: #f1faee;
}

.main_footer_rights{
    margin: 0 auto;
    padding-left: 20px;
    color: #cacaca;
}



/*    RESPONSIVIDADE     */









/* 1024px */
@media (max-width: 64em) {
    .main_cta .main_cta_content h1 {
        font-size: 2.5em;
    }

    .main_cta .main_cta_content .main_cta_content_spacer {
        padding: 100px 30px;
    }

    .main_blog article {
        flex-basis: calc(33% - 10px);
    }

    .main_optin_content {
        flex-wrap: wrap;
    }

    .main_optin_content header,
    .main_optin_content form {
        flex-basis: 100%;
        margin: 0 auto;
    }

    .main_optin_content header {
        margin-bottom: 20px;
    }

    .main_optin_content header h1,
    .main_optin_content header p {
        text-align: center;
    }

    .main_optin_content form input[type=text],
    .main_optin_content form input[type=email] {
        padding: 6px 12px;
    }

    .main_school_content_left {
        flex-basis: 100%;

    }

    .main_school_content_right {
        flex-basis: 200px;
        max-width: 200px;
        padding: 20px;
    }

    .main_school_address {
        flex-basis: calc(100% - 200px);
        margin: auto;
    }
}

/* 768px */
@media (max-width: 48em) {
    .main_header_content_menu {
        display: none !important;
    }

    .main_header_content_menu_mobile {
        display: flex;
    }

    .main_cta .main_cta_content h1 {
        font-size: 2em;
    }

    .main_cta .main_cta_content .main_cta_content_spacer {
        padding: 60px 30px;
    }

    .main_cta .main_cta_content .btn {
        font-size: 0.5em;
    }

    .main_blog article {
        flex-basis: calc(33% - 10px);
    }

    .main_optin_content form {
        flex-wrap: wrap;
    }

    .main_optin_content form input[type=text],
    .main_optin_content form input[type=email] {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .main_optin_content form button {
        margin: 0 auto;
        padding: 6px 12px;
    }

    .main_course_rating_content_title h2 {
        font-size: 2em;
    }

    .main_course_rating_content_comment>article {
        flex-basis: 100%;
    }

    .main_school_list>article {
        flex-basis: 100%;
        margin: 10px 0;
        font-size: 0.9em;
        line-height: 2em;
    }

    .main_footer_our_pages,
    .main_footer_links {
        flex-basis: calc(50% - 10px);
    }

    .main_footer_about {
        flex-basis: 100%;
        margin-top: 20px;
    }

}

/* 520px */
@media (max-width: 32em) {
    .main_school_content_right {
        display: none;
    }

    .main_school_address {
        flex-basis: 100%;
    }
}

/* 640px*/
@media (max-width: 40em) {
    .main_optin_content form {
        flex-wrap: wrap;
    }

    .main_optin_content form input[type=text],
    .main_optin_content form input[type=email] {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .main_optin_content form button {
        margin: 0 auto;
        padding: 6px 12px;
    }

    .main_course_rating_content_title h2 {
        font-size: 1.6em;
    }

    .main_course_rating_content_comment>header {
        font-size: 1.2em;
    }

    .main_course_rating_content_comment>article {
        flex-basis: 100%;
    }

    .main_tutor_social_network h2 {
        margin-bottom: 20px;
    }

    .main_tutor_social_network {
        max-width: 50%;
    }

    .main_tutor_social_network>article {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

/* 593px */
@media (max-width: 37em) {
    .main_header .main_header_content .logo {
        flex-basis: 220px !important;
    }

    .main_header .main_header_content .logo img {
        width: 100% !important;
    }

    .main_header_content_menu_mobile {
        flex-basis: calc(100% - 220px) !important;
    }

    .media_blog article {
        flex-basis: 100%;
    }

    .main_optin_content form {
        flex-wrap: wrap;
    }

    .main_optin_content form input[type=text],
    .main_optin_content form input[type=email] {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .main_optin_content form button {
        margin: 0 auto;
        padding: 6px 12px;
    }

    .main_course_content article {
        flex-basis: calc(100% - 40px);
        margin: 10px;
    }

}